@using Tabele_ligowe.ViewModels;
@model ScoreboardViewModel

@{
    ViewData["Title"] = "League";
    int scoreboardPosition = 1;
    int teamId = 0;
    int matchRowId = 0;
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <select id="league" class="form-select">
                @foreach(var league in Model.Leagues)
                {
                    if (league.Id == Model.SelectedLeagueId)
                    {
                        <option selected value="@league.Id">@league.Name</option>
                    }
                    else
                    {
                        <option value="@league.Id">@league.Name</option>
                    }
                }
            </select>
            <select id="season" class="form-select">
                @foreach(var season in Model.Seasons)
                {
                    if(season.Id == Model.SelectedSeasonId)
                    {
                        <option selected value="@season.Id">@season.Name</option>
                    }
                    else
                    {
                        <option value="@season.Id">@season.Name</option>
                    }
                }
            </select>
            <table class="table table-striped">
                <tr>
                    <th>Pozycja</th>
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <th></th>
                    }
                    <th>Klub</th>
                    <th>RM</th>
                    <th>W</th>
                    <th>R</th>
                    <th>P</th>
                    <th>BZ</th>
                    <th>BS</th>
                    <th>RB</th>
                    <th>Pkt</th>
                </tr>
                @foreach (var team in Model.Teams)
                {
                    <tr>
                        <td>@(scoreboardPosition++)</td>
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <td>
                                @if(!team.Favorite)
                                {
                                    <button onclick="ToggleTeamFavorite('@team.Id')">Dodaj do ulubionych</button>
                                }
                                else
                                {
                                    <button onclick="ToggleTeamFavorite('@team.Id')">Usuń z ulubionych</button>
                                }
                            </td>
                        }
                        <td class="pointer" id="teamName@(teamId)" onclick="ShowMatches(@(teamId++))">@team.Name</td>
                        <td>@team.MatchesPlayed</td>
                        <td>@team.Wins</td>
                        <td>@team.Draws</td>
                        <td>@team.Losses</td>
                        <td>@team.GoalsScored</td>
                        <td>@team.GoalsConceded</td>
                        <td>@team.GoalsDifference</td>
                        <td>@team.Points</td>
                    </tr>
                }
            </table>
            <p>
                Kliknij nazwę drużyny w celu wyświetlenia jej meczów w danym sezonie.
            </p>
        </div>
        <div class="col-4">
            <select id="round" class="form-select">
                @for(int i = 1; i <= Model.NumOfRounds; i++)
                {
                    @if (i == 1)
                    {
                        <option value="@i" selected>
                            Kolejka @i
                        </option>
                    }
                    else
                    {
                        <option value="@i">
                            Kolejka @i
                        </option>
                    }
                }
            </select>

            <table class="table table-striped">
                <tr>
                    <th>Gospodarze</th>
                    <th>Wynik</th>
                    <th>Przyjezdni</th>
                </tr>
                @foreach (var team in Model.Matches)
                {
                    <tr id="matchRow@(matchRowId++)">
                        <td id="homeTeamName">@team.HomeTeamName</td>
                        <td id="score">@team.HomeTeamGoals : @team.AwayTeamGoals</td>
                        <td id="awayTeamName">@team.AwayTeamName</td>
                    </tr>
                }
            </table>

            <div id="chosenTeamMatches" hidden>
                <div id="team">Mecze ligowe dla drużyny: </div>

                <table id="teamMatches" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Gospodarze</th>
                            <th>Wynik</th>
                            <th>Przyjezdni</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    $(document).ready(function () {
        $('#round').change(function () {
            $.ajax({
                url: '/Scoreboard/UpdateMatchList',
                type: 'POST',
                data: { 
                    round: $('#round').val(),
                    selectedSeasonId: "@(Model.SelectedSeasonId)"
                },
                success: SetMatches
            });
        });
    });

    $(document).ready(function () {
        $('#league').change(function () {
            var selectedLeagueId = $('#league').val();

            window.location.href = '/Scoreboard/Index?selectedLeagueId=' + selectedLeagueId;
        });
    });

    $(document).ready(function () {
        $('#season').change(function () {
            var selectedLeagueId = $('#league').val();
            var selectedSeasonId = $('#season').val();

            window.location.href = '/Scoreboard/Index?selectedLeagueId=' + selectedLeagueId + "&selectedSeasonId=" + selectedSeasonId;
        });
    });

    function ToggleTeamFavorite(teamId)
    {
        $.ajax({
            url: '/Scoreboard/ToggleTeamFavorite',
            type: 'POST',
            data: {
                teamId: teamId
            },
            success: function(){
                location.reload();
            }
        });
    }

    function ShowMatches(id) 
    { 
        $('#team').text("Mecze ligowe dla drużyny:  " + $('#teamName' + id).text());

        $.ajax({
            url: '/Scoreboard/GetMatchesForTeam',
            type: 'POST',
            data: { 
                name: $('#teamName' + id).text(),
                selectedSeasonId: "@(Model.SelectedSeasonId)"
            },
            success: SetMatchesForTeam
        });
    }

    function SetMatchesForTeam(data)
    {
        $('#chosenTeamMatches').attr('hidden', false);
        $('#teamMatches tbody').empty();

        var tableBody = $('#teamMatches tbody');

        data.forEach(function (item) {
            var row = "<tr>" +
                "<td>" + item.homeTeamName + "</td>" +
                "<td>" + (item.homeTeamGoals + " : " + item.awayTeamGoals) + "</td>" +
                "<td>" + item.awayTeamName + "</td>" +
                "</tr>";

            tableBody.append(row);
        });
    }

    function SetMatches(data)
    {
        for (var i = 0; i < @matchRowId; i++)
        {
            $('#matchRow' + i).children('#homeTeamName').text(data[i].homeTeamName);
            $('#matchRow' + i).children('#score').text(data[i].homeTeamGoals + " : " + data[i].awayTeamGoals);
            $('#matchRow' + i).children('#awayTeamName').text(data[i].awayTeamName);
        }
    }
</script>

<style>
    .pointer:hover {
        cursor: pointer;
    }
</style>

