@model ScoreboardViewModel

@{
    ViewData["Title"] = "League";
    int scoreboardPosition = 1;
    int matchRowId = 0;
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <table class="table table-striped">
                <tr>
                    <th>Pozycja</th>
                    <th>Klub</th>
                    <th>RM</th>
                    <th>W</th>
                    <th>R</th>
                    <th>P</th>
                    <th>BZ</th>
                    <th>BS</th>
                    <th>RB</th>
                    <th>Pkt</th>
                </tr>
                @foreach (var team in Model.Teams)
                {
                    <tr>
                        <td>@(scoreboardPosition++)</td>
                        <td>@team.Name</td>
                        <td>@team.MatchesPlayed</td>
                        <td>@team.Wins</td>
                        <td>@team.Draws</td>
                        <td>@team.Losses</td>
                        <td>@team.GoalsScored</td>
                        <td>@team.GoalsConceded</td>
                        <td>@team.GoalsDifference</td>
                        <td>@team.Points</td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-4">
            <select id="round" class="form-select">
                <option value="1" selected>
                    Kolejka 1
                </option>
                <option value="2">
                    Kolejka 2
                </option>
            </select>
            <table class="table table-striped">
                <tr>
                    <th>Gospodarze</th>
                    <th>Wynik</th>
                    <th>Przyjezdni</th>
                </tr>
                @foreach (var team in Model.Matches)
                {
                    <tr id="matchRow@(matchRowId++)">
                        <td id="homeTeamName">@team.HomeTeamName</td>
                        <td id="score">@team.HomeTeamGoals : @team.AwayTeamGoals</td>
                        <td id="awayTeamName">@team.AwayTeamName</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    $(document).ready(function () {
        $('#round').change(function () {
            $.ajax({
                url: '/League/UpdateMatchList',
                type: 'POST',
                data: { id: $('#round').val() },
                success: SetMatches
            });
        });
    });

    function SetMatches(data)
    {
        console.log(data[0].homeTeamName);
        for (var i = 0; i < @matchRowId; i++)
        {
            $('#matchRow' + i).children('#homeTeamName').text(data[i].homeTeamName);
            $('#matchRow' + i).children('#score').text(data[i].homeTeamGoals + " : " + data[i].awayTeamGoals);
            $('#matchRow' + i).children('#awayTeamName').text(data[i].awayTeamName);
        }
    }
</script>

